.carousel {
    display: flex;
    justify-content: center;
}

.carousel-slider {
    left: 50%;
    transform: translateX(-50%);
    width: 254px !important;
    height: 298px !important;
    overflow: visible !important;
}

.carousel-container.projects > .carousel-slider {
    height: 296px !important;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
}
.slider-wrapper {
    height: 100%;
    position: absolute;
}

ul {
    height: 100%;
}

.control-dots {
    display: none;
}

.control-next {
    right: -50px !important;
    overflow: visible;
    opacity: 1 !important;

}

.control-next:before {
    border-left: 23px solid #c2ccc2 !important;
    border-top: 23px solid transparent !important;
    border-bottom: 23px solid transparent !important;
}

.control-prev {
    left: -50px !important;
    overflow: visible;
    opacity: 1 !important;

}

.control-prev:before {
    border-right: 23px solid #c2ccc2 !important;
    border-top: 23px solid transparent !important;
    border-bottom: 23px solid transparent !important;
}

.slide > img { background: transparent; padding: 5px; border-radius: 10px; }
.thumb > img { background: transparent; padding: 10px; }

.thumbs-wrapper, .thumbs {
    margin-top: 0 !important;
}
